.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: relative;
  padding: 40px 24px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: var(--background-color);
}

.hero p > strong {
  line-height: 3.3125rem;
  font-size: 2.625rem;
  font-weight: 400;
}

.hero a.button {
  font-size: 16px;
  background-color: #ffe600;
  color: #003478;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
}

.hero a.button::after {
  content: '→';
  color: #003478;
  margin-left: 20px;
}

.hero picture {
  position: absolute;
  z-index: 0;
  top: 40px;
  right:0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  width: 80%;
  height: auto;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

.hero > div:nth-child(2) {
  background-color: white;
  width: 600px;
  margin-left: 100px;
  height: 286px;
  padding: 30px 200px 20px 30px;
}